body {
  font-family: "Open Sans", sans-serif;
  padding: 32px;
  margin: 0;
  background: rgb(233, 223, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(44, 44, 44);
}
.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  padding: 0 64px 64px 64px;
  box-sizing: border-box;
}
h1 {
  color: rgb(83, 49, 156);
  margin: 32px 0 64px 0;
}

/* ----- TABS ----- */
.tabs {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin: 0 0 32px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 255);
}
.tabs p {
  padding: 8px;
}
.tabs .active {
  color: rgb(83, 49, 156);
  position: relative;
}
.tabs .active::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: -47.5%;
  width: 200%;
  height: 4px;
  background: rgb(83, 49, 156);
  border-radius: 10px;
}
.tabs p:hover {
  color: rgb(83, 49, 156);
  cursor: pointer;
}

/* ----- LINE ----- */
.line {
  position: absolute;
  top: 98px;
  z-index: 0;
  width: 100%;
  background: rgb(231, 231, 231);
  height: 3px;
}

/* ----- TOGGLE ----- */
.toggle-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
}
.toggle-wrapper img {
  height: 40px;
  width: auto;
  margin: 0 16px;
  box-sizing: border-box;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background: rgb(83, 49, 156);
  border-radius: 20px;
  padding: 0 4px 0 16px;
  box-sizing: border-box;
}
.toggle p:first-of-type {
  color: white;
}
.toggle p:last-of-type {
  color: rgb(83, 49, 156);
  background: white;
  border-radius: 20px;
  padding: 4px 16px;
}

/* ----- SESSIONS CARD ----- */
.sessions-card {
  width: 50%;
  text-align: center;
  padding: 32px;
  margin: 16px 0;
  background: rgb(250, 247, 255);
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}
.sessions-card p {
  margin: 16px 0 0 0;
  color: rgb(44, 44, 44);
  font-size: 12px;
  font-weight: bold;
}
.sessions-card .number {
  font-size: 54px;
  margin: 0;
  color: rgb(83, 49, 156);
  font-weight: bold;
}

/* ----- DESCRIPTION ----- */
.description {
  line-height: 32px;
  margin: 16px 0 32px 0;
}

.slider {
  width: 100%;
  position: relative;
  margin: 0 0 16px 0;
}
.slider .bar {
  width: 100%;
  height: 16px;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
}
.slider .progress {
  width: 31%;
  height: 18px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 10, 74, 1) 36%,
    rgba(83, 49, 156, 1) 100%
  );
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider .point {
  height: 24px;
  width: 24px;
  background: rgb(83, 49, 156);
  border-radius: 100%;
  position: absolute;
  top: -5px;
  left: 29%;
  border: 2px solid white;
  transition: 0.15s ease all;
}
.slider .point:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.slider .scale {
  width: 100%;
}
.slider .scale ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  color: rgb(166, 166, 166);
  font-weight: bold;
}

/* ----- CARDS ----- */
.card-wrapper {
  display: flex;
}
.card {
  position: relative;
  background: rgb(250, 247, 255);
  padding: 16px 32px;
  box-sizing: border-box;
  margin: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
  color: rgb(83, 49, 156);
  text-align: center;
  font-weight: bold;
  transition: 0.15s ease all;
}
.card:hover {
  transform: translateY(-8px);
}
.card .top-section {
  padding: 8px;
  box-sizing: border-box;
}
.card .top-section p {
  text-transform: uppercase;
  margin: 4px 0;
}
.card .top-section .price {
  font-size: 42px;
  color: rgb(44, 44, 44);
}
.card hr {
  width: 30%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
}
.card .save {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 10, 74, 1) 36%,
    rgba(83, 49, 156, 1) 100%
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.3s ease all;
}
.card button {
  outline: none;
  border: none;
  padding: 16px;
  margin: 8px 0;
  color: white;
  background: rgb(83, 49, 156);
  border-radius: 10px;
  font-weight: bold;
  transition: 0.15s ease all;
}
.card button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* ----- RESPONSIVE STYLES ----- */
@media only screen and (max-width: 720px) {
  .card-wrapper {
    flex-wrap: wrap;
  }
  .card {
    min-width: 100%;
    margin: 16px 0 64px 0;
    padding: 0 16px 16px 16px;
  }
}
@media only screen and (max-width: 640px) {
  body {
    padding: 16px;
    font-size: 14px;
  }
  .container {
    padding: 0 16px;
    overflow: hidden;
  }
  .sessions-card {
    width: 100%;
  }
  .card-wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }
  .card {
    width: 100%;
    margin: 16px 0;
  }
  .line {
    top: 93px;
  }
  .slider .progress {
    width: 28%;
  }
  .slider .point {
    left: 26%;
  }
}
@media only screen and (max-width: 400px) {
  .slider .progress {
    width: 23%;
  }
  .slider .point {
    left: 20%;
  }
}
