body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(233, 223, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  padding: 32px;
  box-sizing: border-box;
}
