:root {
  /* Typography */
  --text-dark: #000000;
  --text-light: #ffffff;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --width-standard: 1080px;
  /* Colors */
  --bg-light: #ffffff;
}

body {
  color: var(--text-dark);
  padding: var(--spacing-sm);
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: flex-start;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 94px;
  letter-spacing: -1px;
  line-height: 108px;
}
h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: -0.25px;
}
h3 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 40px;
}
h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.25px;
}
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 28px;
}
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.005em;
}

/* ----- BUTTONS ----- */
.button-primary {
  font-family: var(--body-font);
  letter-spacing: 1.25px;
  font-size: 16px;
  font-weight: bold;
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: 20px;
  color: var(--text-light);
}
/* ----- LAYOUTS ----- */
.two-column {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.two-column .col-left {
  width: 50%;
  padding: 0 var(--spacing-md) 0 0;
}
.two-column .col-right {
  width: 50%;
  padding: 0 0 0 var(--spacing-md);
}

/* ----- NAVBAR ----- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--width-standard);
  width: 100%;
  padding: 0 var(--spacing-md);
  margin: 0 0 var(--spacing-xl);
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu a {
  font-weight: bold;
  font-family: var(--heading-font);
  margin: 0 16px;
  text-decoration: none;
  color: var(--text-light);
}
.menu a:hover {
  text-decoration: underline;
}
.navbar-button {
  background: rgba(250, 250, 250, 0.25);
}
.navbar-button:hover {
  background: rgba(250, 250, 250, 0.5);
  cursor: pointer;
}

/* ----- HERO SECTION ----- */
main {
  max-width: var(--width-standard);
  width: 100%;
  padding: 0 var(--spacing-md);
  margin: var(--spacing-xl) 0 0 0;
}
.hero {
}
.gradient {
  width: 200%;
  height: 1000px;
  position: absolute;
  left: -50%;
  top: -600px;
  z-index: -1;
  transform: rotate(-10deg);
  background: linear-gradient(
    277deg,
    #22f3be,
    #c422f3,
    #ff9400,
    #ff00df,
    #f94325,
    #7600ff
  );
  background-size: 1200% 1200%;

  -webkit-animation: LiveGradient 30s ease infinite;
  -moz-animation: LiveGradient 30s ease infinite;
  animation: LiveGradient 30s ease infinite;
}

/* ----- ANIMATIONS ----- */
@-webkit-keyframes LiveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes LiveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes LiveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
