html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
  padding: 60px 32px;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  text-align: left;
}
a {
  font-weight: bold;
  padding: 8px 0;
  text-decoration: none;
  border-bottom: 3px solid rgb(25, 123, 221);
  color: black;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav h1 {
  color: white;
}
.nav img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
  transform: rotate(-40deg);
  padding: 0 8px 0 0;
}
.container {
  display: flex;
  padding: 32px 0;
  position: relative;
}
.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.column-left {
  position: sticky;
  top: 0;
  align-items: flex-start;
  width: 25%;
}
.column-right {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
}
.column-left .content {
  position: absolute;
  top: 140px;
}
.column-left h2 span {
  color: rgb(25, 123, 221);
}
.column-left .content a {
  margin: 16px 0;
  padding: 10 0 64px 0;
}
.filter-card {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: white;
  margin: 16px 0;
  border-radius: 4px;
  border: 2px solid black;
  transition: 0.2s ease all;
}
.filter-card:hover {
  -webkit-box-shadow: 0px 2px 13px 6px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 13px 6px rgb(0 0 0 / 10%);
}
.filter-card img {
  width: 24px;
  height: 24px;
}
.filter-card img:hover {
  cursor: pointer;
}
.filter-card:nth-of-type(1) {
  margin: 64px 0 0 0;
}

.column-right .card {
  width: 296px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 16px;
  position: relative;
  border: 2px solid black;
}
.column-right .card:hover {
  cursor: pointer;
}
.column-right .card:hover .bg-image {
  filter: hue-rotate(270deg) blur(2px);
  transform: scale(1.1);
}
.column-right .card .img-wrapper {
  overflow: hidden;
  height: 400px;
}
.column-right .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.1s ease all;
}
.column-right .card .save-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  width: 28px;
  height: 28px;
  padding: 2px;
  transition: 0.1s ease all;
  border-radius: 100%;
  box-sizing: border-box;
  background: white;
}
.save-icon img {
  width: 24px;
  height: 24px;
  padding: 4px;
  box-sizing: border-box;
}
.column-right .card .save-icon:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.1);
}
.column-right .card .content {
  padding: 16px;
}
.column-right .card .content .price {
  color: rgb(25, 123, 221);
  font-size: 14px;
  font-weight: bold;
}

/* ----- RESPONSIVE STYLES ----- */
@media only screen and (max-width: 1400px) {
  .column-left {
    width: 40%;
  }
  .column-right {
    width: 60%;
  }
}
@media only screen and (max-width: 1250px) {
  .column-left {
    width: 50%;
  }
  .column-right {
    width: 50%;
  }
  .column-right .card {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    position: relative;
    padding: 0;
  }
  .column-left {
    width: 100%;
    height: auto;
    position: relative;
    margin: 16px 0;
  }
  .column-left .content {
    position: relative;
    top: 0;
  }
  .column-right {
    width: 100%;
    padding: 0;
  }
  .column-right .card {
    width: 100%;
    margin: 16px 0;
  }
}
