html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: black;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.hero .intro {
  max-width: 800px;
  color: white;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 10%;
}
.hero .headline {
  letter-spacing: 5px;
}
.hero .intro h1 {
  text-align: center;
  font-size: 64px;
  font-family: "Dela Gothic One", cursive;
}
.hero .intro p {
  width: auto;
  text-align: center;
}
button {
  border: none;
  outline: none;
  text-align: center;
  background: #5f7667;
  color: white;
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
  transition: 0.1s ease all;
  padding: 16px 32px;
  box-sizing: border-box;
}
button:hover {
  background: black;
  cursor: pointer;
}

.section-header {
  width: 100%;
  text-align: center;
}
.favorites-section {
  width: 100%;
  background: white;
  font-family: "Montserrat", sans-serif;
  padding: 64px 128px;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.favorites-section .card {
  display: inline-block;
  text-align: center;
  width: 33%;
  box-sizing: border-box;
  padding: 8px;
  transition: 0.2s ease all;
}
.favorites-section .card img {
  width: 100%;
}
.favorites-section .card:hover {
  transform: translateY(-8px);
}

.image-strip {
  background-image: url(https://images.unsplash.com/photo-1648693956698-ad30bf033b35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(110%);
  width: 100%;
  height: 400px;
}

.journal-section {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 64px 128px;
  box-sizing: border-box;
  background: #38383b;
  color: white;
}
.journal-section .card {
  display: inline-block;
  text-align: center;
  width: 49.5%;
  box-sizing: border-box;
  padding: 8px;
  transition: 0.2s ease all;
  overflow: hidden;
}
.journal-section .card img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.journal-section .card:hover {
  transform: translateY(-8px);
}

@media only screen and (max-width: 768px) {
  .hero {
    background-attachment: initial;
    height: 90vh;
  }
  .hero .intro {
    padding: 16px;
    box-sizing: border-box;
  }
  .hero .intro h1 {
    text-align: center;
    font-size: 52px;
  }
  .content {
    padding: 32px;
  }

  .wrapper {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
