html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  box-sizing: border-box;
  font-weight: 500;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  letter-spacing: -1.5px;
}
h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 38px;
  letter-spacing: 0px;
}
h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 24px;
  letter-spacing: 0px;
}
h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
}
code {
  font-weight: bold;
  color: #e95400;
}
p {
  width: 100%;
}
.quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
  box-sizing: border-box;

  color: black;
}
.quote span {
  font-weight: bold;
}

/* ----- HERO SECTION ----- */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #8639e8;
  color: white;

  /* We'll explain this in later sections! :) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p,
.hero h1 {
  text-align: center;
  width: 75%;
  margin: 16px 0;
}
.hero hr {
  width: 50%;
  margin: 32px 0;
}

/* ----- CONTENT SECTION ----- */
.content {
  padding: 64px 32px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content-wrapper {
  max-width: 900px;
}
.content .info {
  width: 100%;
  text-align: center;
  font-family: "Bitter", serif;
  letter-spacing: 1.5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.content .info span {
  color: #e95400;
}
.content .headline {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 40px 0;
}
.content h2 {
  margin: 64px 0;
}
.content hr {
  margin: 64px 0;
}
.content h3 {
  text-transform: capitalize;
}

/* ----- FOOTER ----- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8639e8;
}
footer ul {
  display: flex;
  list-style: none;
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
}
