body {
  font-family: "Forum", cursive;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
button:hover {
  cursor: pointer;
}

.hero-section {
  background: #f08e80;
  height: 90vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: white;
  padding: 24px 32px;
  box-sizing: border-box;
}
header .links {
  width: auto;
}
header .links a {
  margin: 0 16px 0 0;
  font-size: 1.2rem;
}
header p {
  font-size: 2rem;
  font-weight: bold;
  margin: 8px 0 0 0;
}
header button {
  box-sizing: border-box;
  padding: 16px 24px;
  color: #f08e80;
  background: white;
  border: none;
}
header button:hover {
  opacity: 0.8;
}
.hero-content {
  padding: 0 15%;
  color: white;
}
.hero-content .tagline {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 32px 0;
}
.two-column-section {
  width: 100%;
  display: inline-block;
  font-size: 2rem;
}
.two-column-section p {
  width: 50%;
  display: inline-block;
  float: left;
}
.hero-content .two-column-section ul {
  width: 50%;
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0;
}
.hero-content .two-column-section ul li {
  width: 50%;
  margin: 8px 0;
  float: left;
  font-size: 1.25rem;
}

/* BLOG SECTION */
.blog-section {
  background: white;
  padding: 64px 0;
}
.blog-section .blog-content .blog-card {
  width: 50%;
  display: inline-block;
  float: right;
}
.blog-section .blog-content div p {
  margin: 8px 0;
  float: none;
}
.blog-section .blog-card p {
  width: 100%;
}
.blog-section .blog-content {
  padding: 0 15%;
}
.blog-section .blog-title {
  font-size: 1.5rem;
}
.blog-section .blog-description {
  font-size: 1rem;
}
.blog-section .blog-content .blog-card .blog-date {
  color: grey;
  font-size: 0.9rem;
  margin: 0 0 32px 0;
}

/* EVENT SECTION */
.events-section {
  background: #fdf0e6;
  padding: 64px 0;
}
.events-section .events-content .events-card {
  width: 50%;
  display: inline-block;
  float: right;
}
.events-section .events-content div p {
  margin: 8px 0;
  float: none;
}
.events-section .events-card p {
  width: 100%;
}
.events-section .events-content {
  padding: 0 15%;
}
.events-section .events-title {
  font-size: 1.5rem;
}
.events-section .events-description {
  font-size: 1rem;
}
.events-section .events-content .events-card .events-date {
  color: grey;
  font-size: 0.9rem;
  margin: 0 0 32px 0;
}
